/*product*/
/*img*/
.product-details .img  {
	display: flex;
	height: fit-content;
	flex-direction: column;
}

.product-details .img.img-1{
	display: flex;
}
.product-details .img.img-2{
	display: none;
}
.product-details .img.img-3{
	display: none;
}
@media only screen and (max-width: 992px){
	.product-details .img.img-1{
		display: none;
	}
	.product-details .img.img-2{
		display: none;
	}
	.product-details .img.img-3{
		display: flex;
	}
}

@media only screen and (max-width: 768px){
	.product-details .img.img-1{
		display: none;
	}
	.product-details .img.img-2{
		display: flex;
	}
	.product-details .img.img-3{
		display: none;
	}
}
@media only screen and (max-width: 992px){
	.product-details .img {
		flex-direction: row;
	}
}
.product-details .img div{
	margin-bottom: 15px; 
}
@media only screen and (max-width: 992px){
	.product-details .img {
		margin-bottom: 1em;
	}
}
.product-details .img figure,.product-details .main-img figure{
	width: 100%;
	padding-top: 100%;
	position: relative;
	border: 1px solid #d5d5d5;
	margin: 0;
}
.product-details .img figure img,.product-details .main-img figure img{
	width: calc( 100% );
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 10px;
}
/*main-img*/
.product-details .main-img figure button{
	position: absolute;
	top:50%;
}
.product-details .main-img figure button.next{
	right: 0;
}
/*detai*/
.product-details .detail{
	color: black;
}
.product-details .detail h3{
	color: var(--theme-color-1);
	text-transform: uppercase;
}
.product-details .detail p.description{
	background: var(--note-color);
	padding: 0.5em;
	border: 1px solid #d5d5d5;
	font-family: UTM-normal;
}
.product-details .detail p.description:first-letter{
	text-transform: uppercase;
}
.product-details .detail ul{
	margin-top: 30px;
}
.product-details .detail ul li:first-letter{
	text-transform: uppercase;
}
.product-details .detail ul li {
}
.product-details .detail ul li span{
	font-weight: 1000;	
}
.product-details .detail ul li span::before{
	margin-right: 0.5em;
}
.product-details .detail h6 span{
	font-weight: bold;
	color: var(--theme-color-1);
	font-size: 20px;
}
.product-details .detail button{
	width: 100%;
	border-radius: 10px;
	padding: 0.5em;
	background-image: linear-gradient(180deg,#fd6e1d,#f59000);
	border: none;
	outline: none;
	cursor: pointer;
	color: white;
	position: relative;
	overflow: hidden;
}
.product-details .detail button h6{
	text-transform: uppercase;
	margin:0;
}
.product-details .detail button::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.product-details .detail button:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
/*call-phone-number*/
.call-phone-number .container{
	border: 1px solid var(--theme-color-1);
}
.call-phone-number .container aside h6{
	color: var(--theme-color-1);
}
.call-phone-number .container aside ul{
	list-style-type: none;
	padding: 0;

}
.call-phone-number .container aside li{
	font-weight: 1000;
	color: black;
}
.call-phone-number .container aside li span{
	float: right;
	color: var(--theme-color-1);
	font-size: 20px;
}
/*product-details-2*/
.product-details-2{
	color: black;
}
.product-details-2 h4{
	text-transform: uppercase;
	color: var(--theme-color-1);
	font-weight: 700px;
}
.about .menu ul{
	list-style-type: none;
	padding: 0;
	position: relative;
	width: 100%;
}
.about .menu ul li{
	padding-left:  1em;
	line-height: 2.6em;
	width: 100%;
}
.about .menu ul li:first-child{
	background-color: var(--theme-color-2);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
.about .menu ul li:first-child a{
	color: white;
}
.about .menu ul li:first-child a:hover{
	color: white;
	margin:0;
}
.about .menu ul li{
	border: 1px solid #d5d5d5;
	position: relative;
}	
.about .menu ul li a{
	color: black;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
.about .menu ul li a:hover{
	margin-left: 10px;
	color: var(--theme-color-2);
}
.about .menu ul li a img{
	margin-right: 0.5em;
}
.about .content{
	color: black;
}
.about .content {
	font-size: 13px;
	font-family: UTM-normal;
}
.about .content .title{
	color: var(--theme-color-1);
	text-transform: uppercase;
	font-size: 22px;
	position: relative;
	font-weight: 700;
	margin-bottom: 30px;
	font-family: UTM;
}
.about .content .title::before{
	content: "";
	width: 50px;
	height: 2px;
	position: absolute;
	top: calc(100% + 14px);
	background-color: var(--theme-color-1);
}
.about .content  figure{
	text-align: center;
}
.about .content  figure img{
	max-width: 100%;
}
.about .content .center-red{
	color: var(--theme-color-1);
	text-align: center;
}
.about .content .center-black{
	color: black;
	text-align: center;	
	font-weight: 700;
}
.about .content .project {
		/*margin: 5px;*/		
		text-align: left; 
		color: black;
		padding: 10px;
	}
	.about .content .project a{
		text-decoration: none;
		display: flex;
		flex-wrap: wrap;
	}
	.about .content .project:hover{
		box-shadow: 1px 1px 1px 1px #d5d5d5,-1px -1px 1px 1px #d5d5d5,1px -1px 1px 1px #d5d5d5,-1px 1px 1px 1px #d5d5d5;
	}
	.about .content .project figure{
		width: 100%;
		padding: 0;
		padding-top: 56.25%;
		position: relative;
		overflow: hidden;
	}
	.about .content .project figure img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: 0.3s ease-in-out;
		transform: translate(-50%,-50%);
	}
	.about .content .project:hover figure img{
		width: 110%;
		height: 110%;
	}
	.about .content .project  h6{
		color: black;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;	
		min-height: 2.5em;	
		font-size: 13px;
		color: #333;
		font-family: UTM;
		padding: 0;
	}
	.about .content .project:hover  h6{
		color: var(--theme-color-1);

	}
	@media only screen and (max-width: 568px){
		.about .content .project figure{
			width: 50%;
			padding-top: 50%;
		}
		.about .content .project  h6{
			width: 100%;
			margin: 0;
		}
	}
	.about .content .project  p:first-letter{
		text-transform: uppercase;
	}
	.about .content .project  p{
		font-family: UTM-normal;
		color: black;
		font-weight: 400;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:3;
		-webkit-box-orient:vertical;	
		min-height: 3em;	
		font-size: 13px;
		width: 100%;
	}
	@media only screen and (max-width: 992px){
		.about .content .row{
			padding-top: 30px;
		}
		.about .content .project figure{
			padding-top: 28.125%;
		}
		.about .content .project  h6{
			margin: 0;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp:5;
			-webkit-box-orient:vertical;	
			max-height: 6em;	
	}
		.about .content .project  p{
				width: 100%;
		}
	}