.about .menu{
	padding: 0;
}
@media only screen and (max-width: 768px){
	.about .menu{
	display: none;
	}	
}
.about .menu ul{
	list-style-type: none;
	padding: 0;
	position: relative;
	width: 100%;
			position: sticky;
	top: 66px;
	padding: 15px;
}
.about .menu ul li{
	padding-left:  1em;
	line-height: 2.6em;
	width: 100%;
}
.about .menu ul li:first-child{
	background-color: var(--theme-color-1);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
.about .menu ul li:first-child a{
	color: white;
}
.about .menu ul li:first-child a:hover{
	color: white;
	margin:0;
}
.about .menu ul li{
	border: 1px solid #d5d5d5;
	position: relative;
	width: 100%;
	color: black;
}	
.about .menu ul li a{
	color: black;
	font-weight: 700;
	text-decoration: none;
	font-size: 13px;
}
.about .menu ul li > a::before {
	content: url(../img/arrow_left.gif);
	margin-right: 5px;
}
.about .menu ul li:first-child > a::before {
	content: '';
}

.about .menu ul li:hover > a{
	padding-left: 10px;
	color: var(--theme-color-2);
	transition: 0.3s ease-in-out;
}
.about .menu ul li a img{
	margin-right: 0.5em;
}
/*neu la details*/
/*.about .menu ul li:hover details summary,.about .menu ul li:hover details summary a{
	padding-left: 10px;
	color: var(--theme-color-2);
	transition: 0.3s ease-in-out;
}*/
/*.about .menu ul li details ::-webkit-details-marker {
	display: none;
}

.about .menu ul li details summary{
	display: flex;
	justify-content: space-between;
	outline: none;
}	
*/	
.about .menu ul li address dt a{
	transition: 0.3s ease-in-out;
	font-family: UTM-normal;
	font-weight: normal;
	color: #333;
	
	position: relative;
	height: 28px;
	line-height: 1.6em;
}
 address dl dt{
	position: relative;
	margin-top: 0.5em;
	padding-left: 30px;
	padding-right: 10px;
}
.about .menu ul li address dt::before{
	content: url('../img/dot.gif');
	position: absolute;
	top:8px;
	left: 20px;
	height: 5px;
	width: 5px;
	margin-right: 5px;
}
.about .menu ul li address a:hover{
	color: var(--theme-color-1);
}
.about .menu ul li details address a:hover{
	transform: translateX(15px);
	color: var(--theme-color-1);
}
.about .menu ul li details a{
	transition: 0s;
	font-size: 13px;
}

/* <div class="item">
        <p class="title mobi">Tin tức Tin tức Tin tức Tin tức</p>
        <figure>
          <img src="img/blank-picture.jpg">                    
        </figure>
        <div class="content">                                    
          <p class="title pc">Tin tức</p>
          <p class="description">tin tức chi tiết,tin tức chi tiết,tin tức chi tiết,tin tức chi tiết,tin tức chi tiết,tin tức chi tiết,tin tức chi tiết</p>
        </div>
      </div>  */
/*chua lam xong*/
/*.about .menu ul::before {
	content: url(img/arrow_left.gif);
	}*/
	.about .content{
		color: black;
	}
	.about .content .col-lg-4.col-md-6{
	}
	.about .content {
		font-size: 18px;
		padding: 0;
	}
	@media only screen and (max-width: 568px){
		.about .content {
		font-size: 18px;
		padding: 15px;
	}	
	}
	.about .content .title{
		color: var(--theme-color-1);
		text-transform: uppercase;
		font-size: 23px;
		position: relative;
		font-weight: 700;
		margin-bottom: 30px;
		font-family: UTM;
		padding-top: 15px;
	}
	.about .content .title::before{
		content: "";
		width: 50px;
		height: 1px;
		position: absolute;
		bottom: -10px;
		background-color:var(--theme-color-1);;
	}
/*.about .content  figure{
	text-align: center;
}
.about .content  figure img{
	max-width: 100%;
}
.about .content .center-red{
	color: #d5d5d5;
	text-align: center;
}
.about .content .center-black{
	color: black;
	text-align: center;	
	font-weight: 700;
	}*/
	.about .content .row{
		padding-top: 40px;
	}
	.about .content .row .col-lg-4.col-md-4.col-sm-6{
		padding: 5px;
	}
	.about .content .project {
		margin: 7.5px;		
		text-align: left; 
		color: black;
		padding: 10px;
		border: 1px solid #d5d5d5;
	}
	.about .content .project a{
		text-decoration: none;
		display: flex;
		flex-wrap: wrap;
	}
	.about .content .project:hover{
		box-shadow: 1px 1px 1px 1px #d5d5d5,-1px -1px 1px 1px #d5d5d5,1px -1px 1px 1px #d5d5d5,-1px 1px 1px 1px #d5d5d5;
	}
	.about .content .project figure{
		width: 100%;
		padding: 0;
		padding-top: 56.25%;
		position: relative;
		overflow: hidden;
	}
	.about .content .project figure img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transition: 0.3s ease-in-out;
		transform: translate(-50%,-50%);
	}
	.about .content .project:hover figure img{
		width: 110%;
		height: 110%;
	}
	.about .content .project  h6{
		color: black;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;	
		min-height: 2.5em;	
		font-size: 13px;
		color: #333;
	}
	.about .content .project:hover  h6{
		color: var(--theme-color-1);
	}
	@media only screen and (max-width: 568px){
		.about .content .project figure{
			width: 50%;
			padding-top: 50%;
		}
		.about .content .project  h6{
			width: 100%;
			margin: 0;
		}
	}
	.about .content .project  p:first-letter{
		text-transform: uppercase;
	}
	.about .content .project  p{
		font-family: UTM-normal;
		color: black;
		font-weight: 400;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:3;
		-webkit-box-orient:vertical;	
		min-height: 3em;	
		font-size: 13px;
		width: 100%;
	}
	@media only screen and (max-width: 992px){
		.about .content .row{
			padding-top: 30px;
		}
		.about .content .project figure{
			padding-top: 28.125%;
		}
		.about .content .project  h6{
			margin: 0;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp:5;
			-webkit-box-orient:vertical;	
			max-height: 6em;	
	}
		.about .content .project  p{
				width: 100%;
		}
	}