.producer{
	color: var(--theme-color-1);
	font-family: UTM-normal;
	font-weight: lighter;
}
span.clear{
	color: var(--theme-color-1);
	font-family: UTM;
	cursor: pointer;
}
.cart {
	font-size:13px;
}	
.cart h4{
	color: var(--theme-color-1);
	font-family: UTM, sans-serif;	
	font-weight: normal;
	position: relative;
	margin-top: 1.5em;
	text-transform: uppercase;
	font-size: 23px;
	margin-bottom: 1em;
	text-align: center;
}
.cart h4::after{
	content: '';
	width: 50px;		
	height: 2px;
	background: var(--theme-color-1);
	position: absolute;
	bottom:  -26px;
	left: 50%;
	transform: translateX(-50%);
}
@media only screen and (max-width: 567px){
	.cart h4::after{
		display: none;
	}
	.cart h4{
		background: white;
		font-size: 16px;
		padding: 10px;
		margin: 0;
	}
	.cart h4::before{
		content: url('../img/fa-long-arrow-left.png');
		position: absolute;
		left: 10px;
		top: 25%;
	}
}
.cart .row{
	padding-top: 25px;
}
.cart aside section{
	padding-top: 15px;
	padding-bottom: 0;
	border-radius: 10px;
}
.cart aside .buying{
	margin-top: 1em;
	background: white;
}
.cart aside .buying:first-child{
	margin-top: 0;
}
.cart aside .buying figure{
	position: relative;
	width: 100%;
	padding-top: 100%;
}
.cart aside .buying figure img{
	width: 100%;
	padding: 15px;
	position: absolute;
	top:0;
	left: 0;
}
.cart aside .buying .information-product{
	color: black;

}
.cart aside .buying .information-product p{
	font-size: 13px;
	margin-bottom: 0.2em;
}
.cart aside .buying .information-product p:last-child{
	color: red;
	font-weight: bold;
}
.cart aside .buying .information-product h3{
	font-size: 15px;
	text-transform: uppercase;
	color: var(--theme-color-1);
	font-family: UTM-normal;
}
.cart aside .buying .information-product b{
	margin-right: 0.5em;
	font-family: UTM;
	color: #333;
	font-size:12px;
	font-weight: lighter;
}
.cart aside .price{
	color: red;
	font-weight: bold;
}
.cart aside .row {
	padding-top: 10px;
}
.cart aside .buying .box-price p{
	text-align: right;
}
.cart aside .buying .price{
	color: black;
	font-family: UTM;
	text-align-last: right;
	font-size:12px;

}
.cart aside .buying  .plush-minus {
	display: flex;
	justify-content: space-around;
	font-family: UTM-normal;
	padding-top: 0;
	padding-bottom: 15px;
}
.cart aside .buying  .plush-minus .row{
	padding-top: 0;
}
.cart aside .buying  .plush-minus button{
	border: 1px solid #d5d5d5;
	outline: none;
	margin: 0;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 0;
}
.cart aside .buying  .plush-minus button.minus{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.cart aside .buying  .plush-minus button.plush{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.cart aside .buying  .plush-minus input[type='number']{
	color: black;
	border: 1px solid #d5d5d5;
	margin: 0;
	width: 50px;
	height: 25px;
	text-align: center;
	outline: none;
}
.cart aside .buying  .plush-minus input[type='number']::-webkit-outer-spin-button,
.cart aside .buying  .plush-minus input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-height: 576px;)
{
.cart .pay{
	margin-top: 15px;
	background: white;
}	
}
.bill {
	background-color: white;
	padding: 15px;
	padding-bottom: 25px;
}
.cart .pay section{
	color: black;
	position: sticky;
	top: 66px;
	padding: 15px;
}
@media only screen and (max-width: 567px){
	.cart .pay section{

	padding: 0px;
}
}
.cart .pay section p{
	width: 100%;
}
.cart .pay section p:first-letter{
text-transform: uppercase;
}
.cart .pay section span{
	float: right;
	font-weight: lighter;
}
.cart .pay section form{
	padding-top: 15px;
}
.cart .pay section input[type='submit']{
	width: 100%;
	margin-top: 15px;
	border-radius: 5px;
	outline: none;
	background-color: var(--theme-color-1);
	border: none;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.5em;
	position: relative;
	box-shadow: 0px 5px 2px 2px #d5d5d5;
}
.cart .pay section input[type='submit']:hover{
	transform: translateY(0px);
	filter: brightness(120%);
	border:1px solid white;
}
#total-tax{
	margin-bottom: 0;
}
#total-tax span{
	color: red !important;
	font-family: UTM;
	margin-bottom: 0;
	padding-bottom: 0;
}
.desktop-none{
	display: none;
}
@media only screen and (max-width: 568px){
	.mobi-none{
		display: none;
	}
	.desktop-none{
		display: block;
	}
}
.top-right-position{
	position: absolute;
	top: 0;
	right: 1em;
	color: red !important;
}.top-right-position span{
	color: red;
}