.about .content{
	color: black;
}
.about .content section{
	padding-top: 0em;
	padding-bottom: 1em;
	font-family: UTM-normal;
}
.about .content section p{
	font-size: 13px;
}
.about .content .title{
	color: var(--theme-color-1);
	text-transform: uppercase;
	font-size: 22px;
	position: relative;
	font-weight: 700;
	margin-bottom: 30px;
	font-family: UTM;
}
.about .content .title::before{
	content: "";
	width: 50px;
	height: 1px;
	position: absolute;
	top:calc(100% + 14px);
	background-color: var(--theme-color-1);
}
.about .content  figure{
	text-align: center;
}
.about .content  figure img{
	max-width: 100%;
}
.about .content .center-red{
	color: var(--theme-color-1);
	text-align: center;
}
.about .content .center-black{
	color: black;
	text-align: center;	
	font-weight: 700;
}